#Django>=1.10,<1.11
#wagtail>=1.9,<1.10

Django==1.10.5
Markdown==2.6.8

Unidecode==0.04.20
Willow==0.4
beautifulsoup4==4.5.3
django-cors-headers==2.0.2
django-filter==1.0.1
django-modelcluster==3.0.1
django-taggit==0.22.0
django-treebeard==4.1.0
djangorestframework==3.5.3
html5lib==1.0b10
olefile==0.44
pytz==2016.10
requests==2.13.0
six==1.10.0
wagtail==1.9
wsgiref==0.1.2
Pillow==4.0.0